/* !Media Querys */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,400i,700,900');
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
}
.navbar-lg .navbar-brand {
  padding-top: 15px;
}
.videoWrapper {
  margin-bottom: 1.5em;
}
.theme3 {
  background-color: rgba(30, 183, 204, 0.6);
}
.agile-dynamic-text,
.agile-dynamic-button,
.agile-dynamic-image {
  visibility: hidden;
}
#columna1 h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200 !important;
  font-style: normal !important;
  color: #fccf4a;
  font-size: 60px;
  margin: 0;
  line-height: .5em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #columna1 h1 {
    font-size: 103px;
  }
}
@media and (min-width: 1200px) {
  #columna1 h1 {
    font-size: 127px;
  }
}
#columna1 h1 strong {
  font-weight: 900;
  color: white;
  font-size: 28px;
}
@media only screen and (min-width: 768px) {
  #columna1 h1 strong {
    font-size: 48px;
  }
}
@media and (min-width: 1200px) {
  #columna1 h1 strong {
    font-size: 60px;
  }
}
#columna1 img {
  max-width: 540px;
}
#columna1 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200 !important;
  font-style: normal !important;
  color: white;
  text-align: center;
}
#columna1 h2 strong {
  font-weight: 700;
  color: #fccf4a;
}
#columna1 .videoWrapper > iframe {
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
}
@media only screen and (min-width: 768px) {
  #columna1 .videoWrapper > iframe {
    height: 37vh;
  }
}
@media only screen and (min-width: 1140px) {
  #columna1 .videoWrapper > iframe {
    height: 43vh;
  }
}
@media only screen and (min-width: 1400px) {
  #columna1 .videoWrapper > iframe {
    height: 31vh;
  }
}
#columna1 p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.4em;
  color: white;
}
#columna1 p strong {
  color: #fccf4a;
}
form {
  overflow: inherit!important;
  margin: 0 auto;
}
form legend {
  background-color: #00334a !important;
  position: relative;
  color: white!important;
  text-align: left!important;
  font-size: 16px!important;
  line-height: 1.2em;
  padding-right: 55px!important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200 !important;
  font-style: normal !important;
}
@media only screen and (min-width: 768px) {
  form legend {
    font-size: 18px!important;
  }
}
@media only screen and (min-width: 1024px) {
  form legend {
    font-size: 19px!important;
  }
}
form legend img {
  position: absolute;
  top: -9px;
  right: -9px;
  width: 80px;
}
form .agile-group {
  margin-left: 25px!important;
  margin-bottom: 10px!important;
}
form .agile-group select {
  color: #9E9E9E;
  font-weight: 400;
}
form .agile-group button {
  background-color: #8ec449;
  border: 1px solid #8ec449;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
}
form .agile-group button:hover {
  background-color: #a6d070;
  border: 1px solid #a6d070;
}
form .agile-group button:active {
  background-color: #74a535;
  border: 1px solid #74a535;
}
form.theme3 .agile-field select {
  padding-left: 10px!important;
}
#agileform_div {
  margin-top: 30px;
}
#agileform_div p {
  color: white;
  padding-top: 1em;
  font-size: 18px;
}
#agileform_div p strong {
  color: #EA2137;
}
#portfolio2 .img-responsive {
  display: block;
  margin: .5em auto;
}
#cta2 {
  background-color: #8ec449;
  border: 1px solid #8ec449;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  width: 100%;
  border-radius: 5px;
  color: white;
  margin-top: 2em;
}
#cta2:hover {
  background-color: #a6d070;
  border: 1px solid #a6d070;
}
#cta2:active {
  background-color: #74a535;
  border: 1px solid #74a535;
}
#content_section1 h2 {
  text-align: center;
  color: #1FB8CB;
}
#content_section1 p {
  text-align: center;
  font-size: 18px;
}
.gracias #bizo {
  min-height: 32em;
}
.gracias #columna1 h1 {
  font-size: 30px;
  color: #fccf4a;
  line-height: 1.1em;
  margin-bottom: .5em;
}
@media only screen and (min-width: 768px) {
  .gracias #columna1 h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .gracias #columna1 h1 {
    font-size: 58px;
  }
}
.gracias #columna1 iframe {
  height: 30vh;
}
@media only screen and (min-width: 768px) {
  .gracias #columna1 iframe {
    height: 37vh;
  }
}
@media only screen and (min-width: 1140px) {
  .gracias #columna1 iframe {
    height: 43vh;
  }
}
@media only screen and (min-width: 1400px) {
  .gracias #columna1 iframe {
    height: 31vh;
  }
}
.gracias #columna2 p {
  font-size: 16px;
  line-height: 1.1em;
  color: white;
  font-weight: 200;
}
@media only screen and (min-width: 768px) {
  .gracias #columna2 p {
    font-size: 24px;
    line-height: 1.3em;
  }
}
.gracias #columna2 h2 {
  font-size: 18px;
  line-height: 1.2em;
  color: #1FB8CB;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .gracias #columna2 h2 {
    font-size: 34px;
  }
}
.gracias #columna2 #cta2 {
  margin: .5em auto 1em;
  width: 20rem;
}
/*# sourceMappingURL=styles.css.map */